<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>servlets.ControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>checker</servlet-name>
        <servlet-class>servlets.AreaCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checker</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>jspFilter</filter-name>
        <filter-class>filters.JspFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>jspFilter</filter-name>
        <url-pattern>/check</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>everythingFilter</filter-name>
        <filter-class>filters.EverythingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>everythingFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>

</web-app>